/* hide the ^id in preview mode */
:not(.cm-active) > .cm-blockid:not(:hover) {
    opacity: 0;
}

/* hide annoying box showing over selected files in file explorer */
.tree-item-self.has-active-menu{
	box-shadow: none;
}

/* color the base:priority keywords */
.dv-tag-Low {
    background-color: rgba(var(--color-green-rgb), .5);
}
.dv-tag-Medium {
    background-color: rgba(var(--color-yellow-rgb), .5);
}
.dv-tag-High {
    background-color: rgba(var(--color-red-rgb), .5);
}

/* color the requirement:status keywords */
.dv-tag-Draft {
    background-color: rgba(158, 158, 158, .5);
}
.dv-tag-Proposed {
    background-color: rgba(33, 150, 243, .5);
}
.dv-tag-Deferred {
    background-color: rgba(255, 193, 7, .5);
}
.dv-tag-Rejected {
    background-color: rgba(244, 67, 54, .5);
}
.dv-tag-Clarification-Needed {
    background-color: rgba(156, 39, 176, .5);
}
.dv-tag-Accepted {
    background-color: rgba(76, 175, 80, .5);
}

/* Hide interactive table properties */
.metadata-property[data-property-key*="filter"],
.metadata-property[data-property-key="view_no-id"],
.metadata-property[data-property-key="pagination_no-id"],
.metadata-property[data-property-key="search"],
.metadata-property[data-property-key="show_search_no-id"],
.metadata-property[data-property-key="sort_no-id"],
.metadata-property[data-property-key="sort_direction_no-id"] {
    display: none;
}

/* reduce the spacing around lists in read-only mode */
.markdown-rendered ul, .markdown-rendered ol {
    margin-block-start: 0;
    /*margin-block-end: 0;*/
}

/* when there is no data in list, left align empty message */
div.dataview-error-box {
    justify-content: left;
    min-height: inherit;
}

/* make the form buttons accented */
button:not(.clickable-icon) {
  color: var(--text-accent);
}

body {
    --heading-spacing: calc(var(--p-spacing) * 1);
}